@import url('https://fonts.googleapis.com/css2?family=Readex Pro&display=swap');

/* override default spacings, margin is (y,x) */
*{
    margin: 5px 0px;
    padding: 0;
}

/* Defines a variable which controls the width of the left column and child text. These must sum to 100. */
html{
--leftgapwidth: 2.5%;
--leftboxwidth: 22.5%;
--middleboxwidth: 2.5%;
--rightboxwidth: 70%;
--rightgapwidth: 2.5%;

background-image: url(bg.jpg);
background-position-x: -50px;
}

body{
font-family: 'Readex Pro', sans-serif;
font-weight: 300;
line-height: 1;
margin: 0%;
text-align: center;

display: grid;
grid-template-columns: 100%;
grid-template-rows: 0;
max-height: 100vh;

}


/* TEXT STYLES */
/* Font family defined in body */

/* Removes hyperlink style */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: black;
}

h1 {
font-size: 2.5em;
}

h3 {
font-size: 0.8em;
}

h5 {
font-size: 0.5em;
font-style: italic;
font-weight: 160;
}

/* OTHER FUNCTIONALITY */

#pagelayout{
display: grid;
grid-template-columns: var(--leftgapwidth) var(--leftboxwidth) var(--middleboxwidth) var(--rightboxwidth) var(--rightgapwidth);
grid-template-rows: 5% 1fr;
grid-column-gap: 0px;
max-height: 100vh;
}

/* STRUCTURAL CONTAINERS */

/* Container for the left-hand info column. Grid column 2/3 means between start of 2 and start of 3.*/
#leftnavbar {
box-sizing: border-box;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
grid-column: 2/3;
grid-row: 2/3;
}

/* Container for the content in the left column of the main grid. Holds the content central to column by restricting height to browser window size, this removes scrolling for left container.*/
#leftnavbarcontent {
height: 100vh;
position: sticky;
width: 80px;
}

/* Container for the right column of the primary grid. Allows scrolling for right container. */
#projectbar {
height: 90vh;
grid-column: 4/5;
grid-row: 2/3;
overflow: scroll;
scrollbar-width: none; /* Remove scrollbar for Firefox */
-ms-overflow-style: none; /* Remove scrollbar for IE */
}
.projectbar::-webkit-scrollbar { /* Remove scrollbar for WebKit */
    width: 0;
    height: 0;
}

/* Container for the individual project preview grid. Each "1fr" adds a row, with one fraction of the available space. So each element is given a width of 1 over the number of elements on that row.*/
#projects {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 10px;
padding: 0px;
}

/* Scales images to the project placeholders - I'll need to change this if I'm planning on using other images elsewhere on the page.*/
.project img {
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

/* Defines how each project preview appears. */
.project {
aspect-ratio: 1/1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
